*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: white;
    border-bottom: 1px solid #bfbfbf;
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
    z-index: 1000;
}

nav img{
    width: 120px;
    height: 35px;
    margin: 22px 0 0 30px;
}

.full-block{
    padding-top: 70px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
    min-height: calc(100vh - 120px);
}

.block2{
    flex: 1;
    margin-top: 100px;
}

.block2-1,
.block2-2,
.block2-3{
    position: absolute;
    width: 600px;
    opacity: 0;
    margin-left: 10px;
}

.block2 h1{
    font-size: 3rem;
    color: #2d8f43;
    margin-bottom: 15px;
}

.block2 p{
    font-size: 1.2rem;
    line-height: 1.6;
}

.block1{
    flex: 1;
    position: relative;
    height: 500px;
    margin-bottom: 100px;
}

.block1 img{
    position: absolute;
    inset: 0;
    width: 500px;
    height: 700px;
    object-fit: cover;
    opacity: 0;
}


.img1,
.block2-1{
    animation: slide1 15s infinite;
}

.img2,
.block2-2{
    animation: slide2 15s infinite;
}

.img3,
.block2-3{
    animation: slide3 15s infinite;
}

@keyframes slide1{
    0%,33%{opacity:1;}
    34%,100%{opacity:0;}
}

@keyframes slide2{
    0%,33%{opacity:0;}
    34%,66%{opacity:1;}
    67%,100%{opacity:0;}
}

@keyframes slide3{
    0%,66%{opacity:0;}
    67%,100%{opacity:1;}
}

.btn{
    width: 145px;
    height: 35px!important;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    padding: 20px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 230PX;
    border: 1px solid white;
}
.btn:hover{
    background-color: #95fcab;
}
.btn i{
    color: #fff;
}